{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-6">
            <h3>Nos articles</h3>
        </div>
        <div class="col-lg-6 text-end">
            <a href="{{ path('article_new') }}" class="btn btn-primary pull">Déconneter</a>
        </div>
    </div>

    <div class="row">

        {% for article in articles %}
            <div class="col-lg-3">
                <div class="card card_article">
                    <div class="card-body">

                    <div class="titre">
                        {{ article.titre }}
                    </div>
                    <div class="description">
                        {{ article.description }}
                    </div>
                    <div class="aime">
                       <span class="far fa-thumbs-up btn_like"></span> {{ article.aimes }} j'aime
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}
